<div class="container">
  <h1>Carrito de compras</h1>
	<div id="container-table">
		<table id="customers">
			<thead>
				<tr>
					<th>#</th>
					<th>Título</th>
					<th>Descripción</th>
          <th>Code</th>
          <th>Stock</th>
					<th>Precio</th>
					<th>Categoría</th>
					<th>Cantidad</th>
				</tr>
			</thead>
			<tbody>
				{{#each products}}
					<tr>
						<td class="numberId"></td>
						<td>{{this.product.title}}</td>
						<td>{{this.product.description}}</td>
						<td>{{this.product.code}}</td>
						<td>{{this.product.stock}}</td>
						<td>{{this.product.price}}</td>
						<td>{{this.product.category}}</td>
						<td>{{this.quantity}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
<script src="/js/cart.js"></script>